<%- include("../partials/header") %> 

<div id="top" class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Yelpcamp</h1>
            <p>Home to the best campgrounds from around the world</p>
            <p><a class="btn btn-primary btn-md" href="/campgrounds/new">Add a new campground</a></p>
        </div>
    </header>

    <div class="row">
        <h3 class="col-lg-12">Our most popular campgrounds</h3>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.img %>">
                    <div class="caption"><h4> <%= campground.name %> </h4></div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-sm">More info</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    <p>
        <a href="#top">back to top</a>
    </p>

</div>

<%- include("../partials/footer") %> 
